body {
    /* overflow-y: hidden; */
    /* Hide vertical scrollbar */
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

#meal-detail-container {
    /* height: 100%; */
    width: 100%;
    padding: 10px 20px;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(24, 24, 58);
    /* background-color: pink; */
    text-align: center;
}

#meal-detail-container h1 {
    font-weight: 800;
    color: white;
    font-family: sans-serif;
    font-size: 30px;
}

#meal-img-instruction {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* align-items: center; */
    margin: 0;
    background-color: pink;
    border-radius: 20px;
    width: 100%;
    /* padding: 20px; */
    /*min-height: 60vh; */
    padding-bottom: 20px;
}

#meal-img-instruction div {
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    padding-top: 10px;
    text-align: start;
    /* align-items: start; */
    margin-top: 20px;
}

#instruction-container {
    /* width: 65%; */
    width: 60%;
    min-width: 350px;
}

#meal-img-container {
    width: 30%;
    min-width: 350px;
    min-height: 350px;
}

.title {
    line-height: 0;
    margin-top: 0;
    padding: 0;
    font-size: 15px;
    font-weight: 800;
    color: gray;
    text-align: center;
}

#meal-img-container img {
    height: 93%;
    width: 100%;
    margin-top: 0;
    border-radius: 10px;
    /* margin-bottom: 0; */
}

#meal-instruction {
    font-size: 15px;
    font-family: sans-serif;
    color: blue;
    font-weight: 700;
}

#other-info-container {
    padding: 10px 0;
    width: 100%;
}

#other-info-container h3 {
    margin-top: 5px;
    color: white;
}

#other-informationList {
    width: 90%;
    padding: 0 10px;
    margin-top: 0;
}

#other-informationList li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    min-height: 50px;
    min-width: 350px;
    padding: 2px 3%;
    background-color: rgb(34, 34, 148);
    border-radius: 10px;
    margin-bottom: 10px;
}

#other-informationList li span {
    /* display: inline-block;
    height: auto; */
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family: sans-serif;
    /* text-align: start; */
    overflow-x: hidden;
}

#other-informationList .info-title {
    color: palegoldenrod;
}